
    .history{
        display: grid;
    .history_item{
        display: flex;
        justify-content: center;
        align-items: center;

        *:not(.calendar_item,img,figure){
            // background-color: #333;
            font-size:40px;
            background-color: coral;
            margin: 30px;
            padding: 20px;
            border-radius: 50px;
        }
        
        .calendar_item{
         img{
            width: 80px;
            height: 85px;
            margin-right: 30px;
            margin-top: 15px;
        }
    }
        time{

        }
    }
    .history_info{
        margin: 20px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color:blueviolet;
        .history_info_item{
            width: 60%;
            font-size: 44px;
            border-radius: 30px;
            background-color:antiquewhite;
            display: flex;
            padding: 25px;
            justify-content: center;
            align-items: center;
            div{
                margin: 20px;
                margin-left: 75px;
                display: grid;
                span{
                    margin: 15px 0;
                }
            };
        }
        .history_info_btn{
            display: grid;
            margin: 30px;
            button{
                border: none;
                width:100px;
                border-radius: 25px;
                font-size: 24px;
                margin: 10px;
            }
        }
    }
}