@import "./color.scss";

.containt{
    width: 100%;
    margin: 100px;
    height: 100vh;
    background:$white; 
}
body{
    margin: 0;
}
.leaworkArea{
    color: $white;
    font-weight: 600;
    display: flex;
    margin: 100px auto;
    width: 1500px;
    div{
    display: grid;
    border-radius: 25px;
    width: 1000px;
    text-align: center;
    padding: 40px;
    }
    button{
        font-size: $fsize44;
        font-weight: 600;
        border-radius: 25px;
        border: solid 5px $border-color;
        background-color: $button-color1;
        width: 400px;
        padding: 20px;
        margin: 10px;
        img{
            width: 60px;

        }
        &:nth-child(2){
            background:#ff7531;
        }
    }
}
.leavetimeArea{
    color: $white;
    font-size: $fsize44;
    padding: 50px;
    width: 500px;
    display: grid;
    text-align: center;
    border-radius: 25px;
    background: $blue;
    margin: auto;

}
.currtimefiled{
    background: $blue;
}
.currDate{
    font-size: $fsize44;
    border-bottom: solid 1px $white;
}
.currTime{
    font-size: 72.7px !important; 
}