:root {
  --calendarX:0px;
  --calendarY:0px;
}

body {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
          user-select: text !important;
}

@media screen and (max-width: 780px) {
  .fc-theme-standard .fc-popover {
    position: absolute;
    left: 0 !important;
    width: 100%;
    height: 100%;
  }
}

.fc-daygrid-more-link {
  width: 100%;
  background: #000 !important;
  padding: 5px;
  border-radius: 25px;
}

.fc-popover-body h1 {
  font-size: 1.75em;
}
.fc-popover-body span {
  font-size: 14px;
}
.fc-popover-body .register-area .register-areaUL input[type=date] {
  font-size: 14px;
}
.fc-popover-body .news-resist {
  display: grid !important;
  width: 100%;
}
.fc-popover-body .register-area h1 {
  font-size: 14px;
}
.fc-popover-body .register-areaUL {
  overflow-y: scroll;
  height: 200px !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fc-popover-body #register-field {
  animation: fadeIn 0.5s ease-in-out;
}
.fc-popover-body .register-area {
  transition: all 0.5s;
  width: 100%;
}
.fc-popover-body .register-area form input[type=submit] {
  padding: 0;
}
.fc-popover-body .register-area form {
  width: 100%;
  margin: 10px 0;
}

#popover-body-EL {
  margin: 10px;
  text-align: center;
  white-space: nowrap;
}
#popover-body-EL button {
  border: none;
  padding: 10px;
  margin: 5px;
  font-weight: 800;
  border-radius: 25px;
  background: bottom;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

.register-area {
  width: 100%;
}

thead tr th {
  border-bottom: none !important;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 0.5px solid #666;
}

.fc-header-toolbar {
  margin: 0 1%;
  font-size: 14px;
}
.fc-header-toolbar button {
  color: #000 !important;
  background: none !important;
}
.fc-header-toolbar .fc-toolbar-chunk :nth-child(0) {
  background-color: #333 !important;
}
.fc-header-toolbar .fc-toolbar-chunk .fc-button-group button {
  font-size: 16px;
  border: none;
}

.fc th {
  background: darkcyan;
}
.fc th .fc-scrollgrid-sync-inner {
  background: #333;
}

.calendar-field {
  height: 100%;
  width: 100%;
}
.calendar-field .fc-popover {
  top: var(--calendarY) !important;
}
@media screen and (min-width: 780px) {
  .calendar-field .fc-popover {
    left: var(--calendarX) !important;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field .fc-popover-header {
    flex-direction: row-reverse;
    font-size: 16px;
  }
  .calendar-field .fc-popover-header .fc-popover-close {
    margin: 5px;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field .fc-view-harness {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field thead {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field td {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field .fc-daygrid-day-top {
    display: block;
    position: relative;
    font-size: 14px;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field .fc-daygrid-day-frame {
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field [role=presentation] tr {
    display: grid;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field .fc-daygrid-day-events {
    padding: 10px;
  }
}
.calendar-field #calendarTitle {
  border-right: solid 1px gold;
  background-color: darkcyan;
  width: 10%;
  margin-top: -10%;
  margin-bottom: -5%;
  text-align: center;
  align-items: center;
}
.calendar-field #calendarTitle .calendar-title-field {
  margin-top: 100px;
  line-height: 1.3;
}
.calendar-field #calendarTitle .calendar-title-field h1 {
  margin-top: 250px;
}
.calendar-field #calendarTitle .calendar-title-field span {
  font-size: 16px;
}
.calendar-field #calendarTitle .calendar-title-field :nth-child(3) {
  text-align: right;
}
.calendar-field #calendar {
  font-weight: bold;
  width: 100%;
  margin: auto;
  display: flex;
}
@media screen and (max-width: 780px) {
  .calendar-field #calendar {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field #calendar .fc-header-toolbar {
    width: 90%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field #calendar .fc-header-toolbar :nth-child(3) .fc-button-group {
    display: grid;
  }
}
.calendar-field #calendar .fc-header-toolbar :nth-child(3) .fc-button-group button {
  border-radius: 5px;
  border: solid 1px;
  margin: 5px;
  border-color: var(--fc-button-border-color);
}
@media screen and (max-width: 780px) {
  .calendar-field #calendar .fc-toolbar-chunk {
    display: grid;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field #calendar .fc-toolbar-chunk .fc-button-group {
    width: 100px;
    margin: 0;
  }
}
@media screen and (max-width: 780px) {
  .calendar-field #calendar .fc-toolbar-chunk .fc-toolbar-title {
    font-size: revert;
  }
}
.calendar-field #calendar .fc-scrollgrid-sync-table {
  width: 100% !important;
  height: 80vh;
}
@media screen and (max-width: 780px) {
  .calendar-field #calendar .fc-scrollgrid-sync-table {
    height: 100vh;
  }
}
.calendar-field #calendar .fc-theme-standard td {
  background-color: #333 !important;
  border: 1px solid gold !important;
}
.calendar-field .fc-daygrid-day-number {
  color: #000;
}

* {
  font-weight: bold;
}/*# sourceMappingURL=calendar.css.map */