:root{
    --calendarX:0px;
    --calendarY:0px;
}

body{
    user-select: text !important;
}
    .fc-theme-standard .fc-popover{
        @media screen and (max-width: 780px) {
            position: absolute;
            left: 0!important;
            width: 100%;
            height: 100%;
    }
}
.fc-daygrid-more-link{
    width: 100%;
    background: #000 !important;
    padding: 5px;
    border-radius: 25px;
}
.fc-popover-body {
    h1{
        font-size: 1.75em;
    }
    span{
        font-size: 14px;
    }
    .register-area .register-areaUL input[type=date] {
        font-size: 14px;
    }
    .news-resist{
        display: grid !important;
        width: 100%;
    }
    .register-area{
        h1{
            font-size: 14px;
        }
    }
    .register-areaUL{
        overflow-y:scroll ;
        height:200px !important;
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
  
      #register-field {
        animation: fadeIn 0.5s ease-in-out;
      }
    .register-area{
        transition: all 0.5s;
        width: 100%;
        form input[type=submit] {
            padding: 0   ;
        }
    }
    .register-area{
        form{
            width: 100%;
            margin: 10px 0;

        }
    }
}
#popover-body-EL{
    margin: 10px;
    text-align: center;
    button{
        border: none;
        padding: 10px;
        margin: 5px;
        font-weight: 800;
        border-radius: 25px;
        background: bottom;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    }
}
.register-area{
    width: 100%;
}
.fc-day-past{
    
}
thead{
    tr{
        th{
            border-bottom:none  !important;
        }
    }
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 0.5px solid #666;
}
.fc-header-toolbar{
    margin:0 1%;
    font-size: 14px;
    button{
        color: #000 !important;
        background: none !important;
    }
    .fc-toolbar-chunk{
        :nth-child(0){
            background-color: #333 !important;
        }
        .fc-button-group{
            button{
                font-size: 16px;
                border: none ;
            }
        }

    }
}
.fc{ 
    th{
        background:darkcyan ;
        .fc-scrollgrid-sync-inner{
            background: #333;
        }
    }
}
.calendar-field{
        .fc-popover {
            top: var(--calendarY) !important;
            @media screen and (min-width: 780px) {
                left:var(--calendarX) !important;
            }
        // }
    }
    .fc-popover-header{
        @media screen and (max-width: 780px) {
            flex-direction: row-reverse;
            font-size: 16px;
            .fc-popover-close{
                margin: 5px;
            }
        }
    }
    .fc-view-harness{
        @media screen and (max-width: 780px) {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 500px;
        }
    }
    thead{
        @media screen and (max-width: 780px) {
            display: none;
        }
        }
        td{
            @media screen and (max-width: 780px) {
                border-left: none;
                border-right: none;
                border-bottom: none;
            }
        }

        .fc-daygrid-day-top{
            @media screen and (max-width: 780px) {
                display: block;
                position: relative;
                // border-bottom: solid 1px;
                font-size: 14px;
        }
    }
    .fc-daygrid-day-frame{
        @media screen and (max-width: 780px) {
            display: flex;
            align-items: center;
            padding: 30px;
            padding-left: 10px;
    }
    }

    [role="presentation"] {
        tr{
            @media screen and (max-width: 780px) {
                    display: grid;
            }
        }
    }
    height: 100%;
    width: 100%;
    .fc-daygrid-day-events{
        @media screen and (max-width: 780px) {
            padding: 10px;
    }
    }
    #calendarTitle{
        border-right: solid 1px gold;
        background-color: darkcyan;
        width: 10%;
        margin-top: -10% ;
        margin-bottom: -5%;
        text-align: center;
        align-items: center;
        .calendar-title-field{
            margin-top: 100px;
            line-height: 1.3;
            h1{
                margin-top: 250px;
            }
            span{
                font-size: 16px;
            }
            :nth-child(3){
                text-align: right;
            }
    }
    }
    #calendar{
        font-weight: bold;
        width: 100%;
        margin: auto;
        display: flex;
        @media screen and (max-width: 780px) {
            width: 100%;
        }
        .fc-header-toolbar{
            @media screen and (max-width: 780px) {
                width: 90%;
                margin: 10px auto;
            }
            :nth-child(3){
                .fc-button-group{
                    @media screen and (max-width: 780px) {
                        display: grid;
                    }
                    button{
                        border-radius: 5px;
                        border: solid 1px;
                        margin: 5px;
                        border-color: var(--fc-button-border-color);                    
                    }
                }
            }
        }
        .fc-toolbar-chunk{
            @media screen and (max-width: 780px) {
                display: grid;
                }
                .fc-button-group{
                    @media screen and (max-width: 780px) {
                        width: 100px;
                        margin: 0;
                        }
                }
                .fc-toolbar-title{
                    @media screen and (max-width: 780px) {
                        font-size: revert ;
                    }
                }
        }
        .fc-scrollgrid-sync-table{
            width: 100% !important;
            height: 80vh;
            @media screen and (max-width: 780px) {
            height: 100vh;
            }
        }
        .fc-theme-standard td{
            background-color: #333 !important;
            border: 1px solid gold !important;
        }
    }
    .fc-daygrid-day-number{
        color: #000;
    }
}
*{
    font-weight: bold;
}