    *, *::after, *::before {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 0;
        }
        a {
            color: #333;
            text-decoration: none;
        }
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        header {
            width: 100%;
            position: fixed;
            top: 0;
            margin: 0px auto 10px;
            background: #BEF3FF;
            display: flex;
            font-size: 24px;
            /* background: linear-gradient(90deg, rgb(205, 255, 216) 0%, rgb(148, 185, 255) 100%); */
        }
        header img{
            position: absolute;
            top: 0;
            left: 0;
            margin: auto 0;
            height: 50px;
            width: 50px;
        }
        .menu {
            width: 800px;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .menu__link {
            display: block;
            padding: 10px 20px;
        }
        .menu__link:hover {
            background-color: #ebebeb;
            color: #666;
        }
        .drop-menu {
            background-color: #ebebeb; /* 追記 */
            position: absolute;
            transition: all .3s;
            left: 0;
            width: 100%;
            justify-content:center ;
            display: flex;
            
        }
        .drop-menu__link {
            display: block; /* display: block;に変更 */
            background-color: #ebebeb;
            padding: 0px 20px; /* 5pxを0pxに変更 */
            line-height: 0; /* 追記 */
            transform: scaleY(0); /* 追記 */
            transition: all .3s; /* 追記 */
        }
        .drop-menu__link:hover {
            background-color: lightcyan;
        }
        /* ドロップダウン出現後のスタイル */
        .drop-menu__link.is-active {
            text-align: center;
        /* display: blockを削除 */
            padding: 10px 20px; /* 追記 */
            line-height: 1.6; /* 追記 */
            transform: scaleY(1); /* 追記 */
        }
        .scroll-down{
            transition:all 0.5s;
            top: -100px;
        }
        .scroll-up{
            transition:all 0.5s;
            top: 0px;
        }


        @media screen and (max-width:780px) {
            .menu__link {
                font-size:0;
                width: 0;
                height: 0;
                padding: 0;
            }
            .hamburgermenu{
            font-size: 0;
            }
            .hamburger-icon{
                /* background-color: #333; */
                padding: 25px;
            }
            .hamburger-area{
                display: grid;
            }
            .hamburger-area span{
                transition: all 0.5s;
                margin: 1px 0px;
                width: 25px;
                height: 3px;
                background: #585858;
            } 
            .hamburger-area span:nth-of-type(1) {

            }
        }