.history {
  display: grid;
}
.history .history_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.history .history_item *:not(.calendar_item, img, figure) {
  font-size: 40px;
  margin: 30px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: solid 1px #333;
}
.history .history_item *:not(.calendar_item, img, figure)::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #666;
}
@media screen and (max-width: 780px) {
  .history .history_item *:not(.calendar_item, img, figure) {
    font-size: 22px;
    margin: 10px;
  }
}
@media screen and (max-width: 780px) {
  .history .history_item figcaption {
    display: grid;
  }
}
.history .history_item .calendar_item {
  border-radius: 50px;
  transition: all, 0.5s;
  padding: 15px;
}
.history .history_item .calendar_item:hover {
  background: rgba(51, 51, 51, 0.7);
}
.history .history_item .calendar_item:hover img {
  opacity: 0.5;
  -webkit-filter: grayscale(1) invert(1);
}
.history .history_item .calendar_item img {
  width: 80px;
  height: 85px;
  transition: all 0.5s;
}
.history .history-date {
  display: contents;
}
.history .history_info {
  margin: 20px;
  font-size: 18px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history .history_info .history_info_item {
  background: rgba(0, 0, 0, 0.1);
  border: solid 1px;
  width: 40%;
  position: relative;
  font-size: 44px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .history .history_info .history_info_item {
    width: 100%;
    font-size: 18px;
  }
}
.history .history_info .history_info_item time {
  margin: 5px;
  border-right: solid 1px #333;
}
.history .history_info .history_info_item div {
  margin: 20px;
  margin-left: 75px;
  display: grid;
}
.history .history_info .history_info_item div span:nth-child(1) {
  border-bottom: solid 1px #333;
}
.history .history_info .history_info_item div span:nth-child(1)::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #333;
  margin-top: 10px;
}
.history .history_info .history_info_btn {
  position: fixed;
  left: 1500px;
  display: grid;
  margin: 30px;
}
@media screen and (max-width: 780px) {
  .history .history_info .history_info_btn {
    display: flex;
    justify-content: center;
    opacity: 0;
  }
}
.history .history_info .history_info_btn button {
  background: white;
  border: solid;
  border: none;
  font-size: 18px;
  margin: 5px;
  position: relative;
}
@media screen and (max-width: 780px) {
  .history .history_info_aft {
    position: relative;
  }
  .history .history_info_aft .history_info_btn {
    display: initial;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-backdrop-filter: contrast(0.5);
            backdrop-filter: contrast(0.5);
    opacity: 1;
  }
  .history .history_info_aft .history_info_btn .history_info_btn-field {
    position: inherit;
    bottom: 0;
  }
}/*# sourceMappingURL=history.css.map */