
    .history{
        #History-Graph{
            display: flex;
            align-items: center;
            margin: auto;
            #graph{
                display: flex;
                background: rgb(244, 241, 236);
                border: solid 1px #0000004a;
                width: 100% !important; //chart.js自動サイズ変更対策
                height: 80% !important;//chart.js自動サイズ変更対策
                max-width: 80%;
                max-height: 100%;
                margin: auto;                
            }
        }
        display: grid;
    .history_item{
        display: flex;
        justify-content: center;
        align-items: center;
        *:not(.calendar_item,img,figure,figcaption){
            font-size:24px;
            position: relative;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: solid 1px #333;
            &::after{
                content: "";
                display: block;
                width: 50%;
                height: 1px;
                background-color: #666;
            }
            @media screen and (max-width:780px) {
                font-size:22px;
                margin: 10px;
            }   
        }
        @media screen and (max-width:780px) {
            figcaption{
                display: grid;
            }
        }   
        .calendar_item{
            border-radius: 50px;
            transition:all,0.5s;
            padding: 15px;
         img{
            width: 80px;
            height: 85px;
            transition: all 0.5s;
        }
    }
    }
    .history-date{
        display: contents;
        a{
            font-size: 16px;
            margin: 30px;
            font-weight: 800;
            color: #000;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
        }
    }
    .history_info{
        margin: 20px;
        font-size: 18px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .history_info_item{
            background: rgba(0,0,0,0.1);
            // border: solid 1px;
            box-shadow: 1px 1px 3px 1px rgba($color: #000, $alpha: 0.5);
            width: 80%;
            min-width: 60%;
            position: relative;
            font-size: 24px;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:780px) {
                width: 100%;
                font-size: 18px;
            }   
            time{
                margin: 5px;
                border-right: solid 1px #333;
            }
            div{
                margin: 20px;
                margin-left: 75px;
                display: grid;
                span{
                    &:nth-child(1){
                        border-bottom: solid 1px #333;
                        &::after{
                            content: "";
                            display: block;
                            width: 50%;
                            height: 1px;
                            background: #333;
                            margin-top: 10px
                        }
                    }
                }
            };
        }
        .history_info_btn{
            @media screen and (max-width:780px) {
            position: fixed;
            }
            left: 1500px;
            display: grid;
            margin: 30px;
            @media screen and (max-width:780px) {
            display: flex;
            justify-content: center;
            opacity: 0;
            }   
            button{
                background: white;
                border:solid ;
                border: none;
                // width:100px;
                font-size: 18px;
                margin: 5px;
                position: relative;
            }
        }
    }
    .history_info_btn-field{
        display: grid;
        button{
            border-radius: 25px;
            padding: 5px 10px;
            box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.1);
        }
    }
    @media screen and (max-width:780px) {
    .history_info_aft{
        position: relative;
        .history_info_btn{
            display:initial;
            position:absolute;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            backdrop-filter: contrast(0.5);
            opacity: 1 ;
            .history_info_btn-field{
                display: flex;
                position: inherit;
                bottom: 0; 
            }
        }
    }
}
}

