.history {
  display: grid;
}
.history #History-Graph {
  display: flex;
  align-items: center;
  margin: auto;
}
.history #History-Graph #graph {
  display: flex;
  background: rgb(244, 241, 236);
  border: solid 1px rgba(0, 0, 0, 0.2901960784);
  width: 100% !important;
  height: 80% !important;
  max-width: 65%;
  max-height: 100%;
  margin: auto;
}
@media screen and (max-width: 780px) {
  .history #History-Graph #graph {
    max-width: 100%;
  }
}
.history .history-data {
  display: flex;
}
.history .history-data a {
  overflow: visible !important;
  border-bottom: none !important;
}
.history .history-data a::after {
  content: "" !important;
  display: none !important;
}
.history .history_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.history .history_item *:not(.calendar_item, img, figure, figcaption) {
  font-size: 24px;
  position: relative;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: solid 1px #333;
}
.history .history_item *:not(.calendar_item, img, figure, figcaption)::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #666;
}
@media screen and (max-width: 780px) {
  .history .history_item *:not(.calendar_item, img, figure, figcaption) {
    font-size: 22px;
    margin: 10px;
  }
}
@media screen and (max-width: 780px) {
  .history .history_item figcaption {
    display: grid;
  }
}
.history .history_item .calendar_item {
  border-radius: 50px;
  transition: all, 0.5s;
  padding: 15px;
}
.history .history_item .calendar_item img {
  width: 80px;
  height: 85px;
  transition: all 0.5s;
}
.history .history-date {
  display: contents;
}
.history .history-date a {
  font-size: 16px;
  margin: 30px;
  font-weight: 800;
  color: #000;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.history .history_info {
  margin: 20px;
  font-size: 18px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history .history_info .history_info_item {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  width: 80%;
  min-width: 60%;
  position: relative;
  font-size: 24px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .history .history_info .history_info_item {
    width: 100%;
    font-size: 18px;
  }
}
.history .history_info .history_info_item time {
  margin: 5px;
  border-right: solid 1px #333;
}
.history .history_info .history_info_item div {
  margin: 20px;
  margin-left: 75px;
  display: grid;
}
.history .history_info .history_info_item div span:nth-child(1) {
  border-bottom: solid 1px #333;
}
.history .history_info .history_info_item div span:nth-child(1)::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #333;
  margin-top: 10px;
}
.history .history_info .history_info_btn {
  left: 1500px;
  display: grid;
  margin: 30px;
}
@media screen and (max-width: 780px) {
  .history .history_info .history_info_btn {
    position: fixed;
  }
}
@media screen and (max-width: 780px) {
  .history .history_info .history_info_btn {
    display: flex;
    justify-content: center;
    opacity: 0;
  }
}
.history .history_info .history_info_btn button {
  background: white;
  border: solid;
  border: none;
  font-size: 18px;
  margin: 5px;
  position: relative;
}
.history .HistoryEmp {
  text-align: center;
  position: relative;
  border-bottom: solid #000 1px;
  margin: auto;
}
.history .HistoryEmp::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #666;
}
.history .history_info_btn-field {
  display: grid;
}
.history .history_info_btn-field button {
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 780px) {
  .history .history_info_aft {
    position: relative;
  }
  .history .history_info_aft .history_info_btn {
    display: initial;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-backdrop-filter: contrast(0.5);
            backdrop-filter: contrast(0.5);
    opacity: 1;
  }
  .history .history_info_aft .history_info_btn .history_info_btn-field {
    display: flex;
    position: inherit;
    bottom: 0;
  }
}/*# sourceMappingURL=history.css.map */