.bgorgi{
    background-color: #ff8e51;
    font-weight: bold;
}
.schedule{
    background-color: #9c8bef;
}
.event{
    background-color: #ffbd59;
}
.content{
    background-color: #FFFBE0;
}
.headerTable{
    display: flex;
}
.headerTable div{
    width: 73%;
    text-align: center;
    padding-left: 30px;
    font-size: 21px;
    margin-top: 20px;
}
.mainTable{
    padding: 0 10%;
}
main{
    background-color: #FFFBE0;
    height: 100vh;
}
.card-body{
    border:2px solid #000;
}
.eventHeaderColor{
    background-color: #FFD83F;
    border:2px solid #000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 10px 10%;
    height: 100px;
}
.eventHeaderColor{
    justify-content: center;
    width: 60%;
    margin-right: 25px;
    font-size: 40px;
}
.imgLetter{
    text-align: right;
    width: 164px;
    height: 113px;
    margin-left: 40px
}