@import "./color.scss";
body{
    // overflow: hidden;
    color: #000;
    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background-color: none;
    }
    &::-webkit-scrollbar-thumb{
        background: #ccc;
        border-radius: 50px;
    }
    background: $itiran-color;
    transition: all 0.5s;
}
li{
    list-style: none;
}
main{
    display: flex;
    width: 100%;
    @media screen and (max-width:780px) {
    display: block;
    }
}
section{
    width: 80%;
    height: 100%;
    @media screen and (max-width:780px) {
        width: 100%;
        }
    h1{
        font-size: 50px;
        border-bottom: solid 1px #000;
        width: 70%;
        margin:10px auto;
        &:after{
            content: "";
            display: block;
            width: 50%;
            height: 3px;
            background:#555;
        }
    }
    span{
        position: relative;
        // font-size: 24px;
    }
}
.emp-list-area{
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 50px auto;
        background-color: $form-color;
        border-radius: 25px;
        button{
            background-color: $form-color;
            border: solid 1px $form-color;
            border-radius: 25px;
            img{
                width: 20px;
            }
        }
        input[type ="text"]{
            background-color: $form-color;
            width: 100%;
            font-size: 24px;
            border: solid 0px;
            outline: none;
            border-radius: 50px;
        }
        input[type="date"]{
            width: 100%;
            border: solid 0px;
            outline: none;
        }
    }
    .emp-name{
        ul{
            div{
                display: flex;
                p{
                    line-height: 2;
                }
            }
            justify-content: center;
            align-items: center;
            display: grid;
            height: 300px;
            overflow-y: scroll;
            overflow-x: hidden;
            li{
                margin: 10px 0;
                white-space: nowrap;
                border-bottom: #000 solid 2px;
                position: relative;
                &::after{
                    content: "";
                    display: block;
                    height: 3px;
                    width: 50%;
                    background-color: #666;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                }
                span{
                    line-height: 2;
                    cursor: pointer;
                } 
            }
        }
    }
}
.staff-profile{
    width: 80%;
    margin: auto;
    height: auto;
    form{
        padding: 5px 15px ;
        display: flex;
        border: solid #000 3px;
        border-radius: 25px;
        img{
            width: 50px;
            object-fit: cover;
        }
        button{
            width: 0px;
            padding: 0px;
            font-weight: 800;
            background: none;
            outline: none;
            border: none;
            opacity: 0;
            overflow: hidden;
            white-space: nowrap;
        }
        &:hover button{
            opacity: 1;
            transition: width 0.5s;
            width: 50px;
        }
    }
}
.intell{
    height: auto;
    @media screen and (max-width:780px){   
    background-color: #ccc;
    transition: all 1s;
    position: fixed;
    left: 500px;
    top: 0;
    opacity: 0;
    width: 80%;
    margin: 150px 10%;
    }
    form{
        padding: 5px 15px ;
        display: flex;
        border: solid #000 3px;
        border-radius: 25px;
        img{
            width: 50px;
            object-fit: cover;
        }
        button{
            width: 0px;
            padding: 0px;
            font-weight: 800;
            background: none;
            outline: none;
            border: none;
            opacity: 0;
            overflow: hidden;
            white-space: nowrap;
        }
        &:hover button{
            opacity: 1;
            transition: width 0.5s;
            width: 50px;
        }
    }
    }
    ul:not(.menu){
        margin: 50px auto;
        font-size: 24px;
            li{
                display: flex;
                span{
                    margin: 10px;
                    word-wrap: break-word; /* 長い単語を途中で改行する */
                    overflow-wrap: break-word; /* 上記のプロパティのエイリアス */
                }
        }
    }
.intell-aft{
    @media screen and (max-width:780px) {
        display: block;
        opacity: 1;
        background-color:rgba(0, 0, 0,0.5);
        .intell{
            opacity: 1;
            position: absolute;
            width: 80%;
            margin: 150px 10%;
            left: 0;
            top: 0px;
            background: $itiran-color;
            pointer-events: all;
            transition: all 0.5s;
        }
    }
}
.filter-header{
    width: 100%;
    #filter-btn{
        border: none;
}
}
.bill-list{
    width: 100%;
    .bill-header{
        position: fixed;
        width: 100%;
        top: 0;
        background-color: $itiran-color;
        z-index:500;
        h1{
            margin-top: 100px;
        }
        input[type="text"]{
            padding: 10px;
            width: 70%;
            margin:0 15%;
        }
        #filter-btn{
            position: absolute;
            top: 50%;
            left: 3%;
        }
    }
    .bill-list-items{
        width: 90%;
        margin: 100px auto;
        ul{
            width: 100%;
            &:nth-child(1){
                padding-top: 180px;
            }
            li{
                width: 100%;
                border-bottom: solid 1px #000;
                span{
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
                }
            }
        }
    }
.filter-area{
    background-color: #ccc;
    width: 100%;
    height: 100%;
    z-index: 999;
    position:fixed;
    top: 300%;
    left: 0;
    padding-top: 50px;
    transition: all 0.5s ease-in;
    .filter-header{
        border-bottom: solid 3px #000;
        .filter-close span{
            position: relative;
            left: 20px;
            &::before{
                position: absolute;
                content: "";
                display: block;
                width: 20px;
                height: 2px;
                background-color: #000;
                top: 0;
                transform: rotateZ(-315deg);
            }
            &::after{
                position: absolute;
                content: "";
                background-color: #000;
                display: block;
                width: 20px;
                height: 2px;
                top: 0;
                transform: rotateZ(315deg);
            }
        }
        li{
            width:100%;
            :nth-child(1){
                width: 100%;
                
            }
            .filter-clear{
                    text-align: right; 
                    margin-right: 40px;  
            }
        }
        display: flex;
        h2{
            text-align: center;
            margin: 0;
        }
    }
    .filter-items{
        width: 95%;
        margin:20px  auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        h2{
            border-bottom: #000;
            font-size: 18px;
            position: absolute;
            top: -30px;
            left: 30px;
            margin: 0; 
        }
        button{
            flex: 0 0 calc(100% / 5);
            width: 100%;
            margin: 20px;
            padding: 15px;
            font-size: 24px;
            border:none;
        }
        input[type="text"]{
            width: 100%;
            margin: 20px;
            padding: 20px;
        }
        .fileter-element-aft{
            background-color:aquamarine;    
        }
    }
}
.filter-area-aft{
    position: fixed;
    top: 0%;
    transition: top 0.5s;
    overflow:hidden;
    }
}
.bill-list-items-header{
    display: flex;
    width: 90%;
    margin:auto;
    span{
        font-size: 24px;
        text-align: left;
        width: 100%;
    }
}
.attend-list{
    width: 100%;
    ul{
        height: 600px !important;
        width: 80%;
        margin: auto;
        justify-content: inherit !important;
        li{
            cursor: pointer;
            pointer-events:painted;
            border: solid 1px #555;
            margin-right:10px !important;
            &::before{
                content: "";
                display: block;
                height: 100%;
                width: 1%;
                background: gold;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &:hover::before{
                width: 100%;
                background:rgba($color:#ffd700 , $alpha: 0.5) ;
            }
            &::after{
                height: 0;
                width: 0;
            }
            span{
                margin-left: 10px;
            }
        }
    }
}
@media screen and (max-width: 780px) {
    .emp-list {
        /* background-color: #f4f1ec; */
        left: 500px;
        width: 100%;
        margin: 0;
    }

    input::placeholder {
        width: 100%;
        font-size: 20px;
    }

    .emp-list-area .emp-name ul li {
        display: flex;
    }
    // .emp-list-area .emp-name ul li span {
    //     margin-left: 0;
    //     margin-right: 0;
    // }
}