@charset "UTF-8";
.ContentCenter {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

body {
  color: #000;
  background: #F4F1EC;
  transition: all 0.5s;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: none;
}
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}

li {
  list-style: none;
}

main {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 780px) {
  main {
    display: block;
  }
}

section {
  width: 80%;
  height: 100%;
}
@media screen and (max-width: 780px) {
  section {
    width: 100%;
  }
}
section h1 {
  font-size: 50px;
  border-bottom: solid 1px #000;
  width: 70%;
  margin: 10px auto;
}
section h1:after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: #555;
}
section span {
  position: relative;
}

.emp-list-area .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto;
  background-color: #F6F6F6;
  border-radius: 25px;
}
.emp-list-area .search button {
  background-color: #F6F6F6;
  border: solid 1px #F6F6F6;
  border-radius: 25px;
}
.emp-list-area .search button img {
  width: 20px;
}
.emp-list-area .search input[type=text] {
  background-color: #F6F6F6;
  width: 100%;
  font-size: 24px;
  border: solid 0px;
  outline: none;
  border-radius: 50px;
}
.emp-list-area .search input[type=date] {
  width: 100%;
  border: solid 0px;
  outline: none;
}
.emp-list-area .emp-name ul {
  justify-content: center;
  align-items: center;
  display: grid;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.emp-list-area .emp-name ul div {
  display: flex;
}
.emp-list-area .emp-name ul div p {
  line-height: 2;
}
.emp-list-area .emp-name ul li {
  margin: 10px 0;
  white-space: nowrap;
  border-bottom: #000 solid 2px;
  position: relative;
}
.emp-list-area .emp-name ul li::after {
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  background-color: #666;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.emp-list-area .emp-name ul li span {
  line-height: 2;
  cursor: pointer;
}

.staff-profile {
  width: 80%;
  margin: auto;
  height: auto;
}
.staff-profile form {
  padding: 5px 15px;
  display: flex;
  border: solid #000 3px;
  border-radius: 25px;
}
.staff-profile form img {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.staff-profile form button {
  width: 0px;
  padding: 0px;
  font-weight: 800;
  background: none;
  outline: none;
  border: none;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}
.staff-profile form:hover button {
  opacity: 1;
  transition: width 0.5s;
  width: 50px;
}

.intell {
  height: auto;
}
@media screen and (max-width: 780px) {
  .intell {
    background-color: #ccc;
    transition: all 1s;
    position: fixed;
    left: 500px;
    top: 0;
    opacity: 0;
    width: 80%;
    margin: 150px 10%;
  }
}
.intell form {
  padding: 5px 15px;
  display: flex;
  border: solid #000 3px;
  border-radius: 25px;
}
.intell form img {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intell form button {
  width: 0px;
  padding: 0px;
  font-weight: 800;
  background: none;
  outline: none;
  border: none;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}
.intell form:hover button {
  opacity: 1;
  transition: width 0.5s;
  width: 50px;
}

ul:not(.menu) {
  margin: 50px auto;
  font-size: 24px;
}
ul:not(.menu) li {
  display: flex;
}
ul:not(.menu) li span {
  margin: 10px;
  word-wrap: break-word; /* 長い単語を途中で改行する */
  overflow-wrap: break-word; /* 上記のプロパティのエイリアス */
}

@media screen and (max-width: 780px) {
  .intell-aft {
    display: block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .intell-aft .intell {
    opacity: 1;
    position: absolute;
    width: 80%;
    margin: 150px 10%;
    left: 0;
    top: 0px;
    background: #F4F1EC;
    pointer-events: all;
    transition: all 0.5s;
  }
}

.filter-header {
  width: 100%;
}
.filter-header #filter-btn {
  border: none;
}

.bill-list {
  width: 100%;
}
.bill-list .bill-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #F4F1EC;
  z-index: 500;
}
.bill-list .bill-header h1 {
  margin-top: 100px;
}
.bill-list .bill-header input[type=text] {
  padding: 10px;
  width: 70%;
  margin: 0 15%;
}
.bill-list .bill-header #filter-btn {
  position: absolute;
  top: 50%;
  left: 3%;
}
.bill-list .bill-list-items {
  width: 90%;
  margin: 100px auto;
}
.bill-list .bill-list-items ul {
  width: 100%;
}
.bill-list .bill-list-items ul:nth-child(1) {
  padding-top: 180px;
}
.bill-list .bill-list-items ul li {
  width: 100%;
  border-bottom: solid 1px #000;
}
.bill-list .bill-list-items ul li span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.bill-list .filter-area {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  top: 300%;
  left: 0;
  padding-top: 50px;
  transition: all 0.5s ease-in;
}
.bill-list .filter-area .filter-header {
  border-bottom: solid 3px #000;
  display: flex;
}
.bill-list .filter-area .filter-header .filter-close span {
  position: relative;
  left: 20px;
}
.bill-list .filter-area .filter-header .filter-close span::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  top: 0;
  transform: rotateZ(-315deg);
}
.bill-list .filter-area .filter-header .filter-close span::after {
  position: absolute;
  content: "";
  background-color: #000;
  display: block;
  width: 20px;
  height: 2px;
  top: 0;
  transform: rotateZ(315deg);
}
.bill-list .filter-area .filter-header li {
  width: 100%;
}
.bill-list .filter-area .filter-header li :nth-child(1) {
  width: 100%;
}
.bill-list .filter-area .filter-header li .filter-clear {
  text-align: right;
  margin-right: 40px;
}
.bill-list .filter-area .filter-header h2 {
  text-align: center;
  margin: 0;
}
.bill-list .filter-area .filter-items {
  width: 95%;
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.bill-list .filter-area .filter-items h2 {
  border-bottom: #000;
  font-size: 18px;
  position: absolute;
  top: -30px;
  left: 30px;
  margin: 0;
}
.bill-list .filter-area .filter-items button {
  flex: 0 0 20%;
  width: 100%;
  margin: 20px;
  padding: 15px;
  font-size: 24px;
  border: none;
}
.bill-list .filter-area .filter-items input[type=text] {
  width: 100%;
  margin: 20px;
  padding: 20px;
}
.bill-list .filter-area .filter-items .fileter-element-aft {
  background-color: aquamarine;
}
.bill-list .filter-area-aft {
  position: fixed;
  top: 0%;
  transition: top 0.5s;
  overflow: hidden;
}

.bill-list-items-header {
  display: flex;
  width: 90%;
  margin: auto;
}
.bill-list-items-header span {
  font-size: 24px;
  text-align: left;
  width: 100%;
}

.attend-list {
  width: 100%;
}
.attend-list ul {
  height: 600px !important;
  width: 80%;
  margin: auto;
  justify-content: inherit !important;
}
.attend-list ul li {
  cursor: pointer;
  pointer-events: painted;
  border: solid 1px #555;
  margin-right: 10px !important;
}
.attend-list ul li::before {
  content: "";
  display: block;
  height: 100%;
  width: 1%;
  background: gold;
  position: absolute;
  left: 0;
  bottom: 0;
}
.attend-list ul li:hover::before {
  width: 100%;
  background: rgba(255, 215, 0, 0.5);
}
.attend-list ul li::after {
  height: 0;
  width: 0;
}
.attend-list ul li span {
  margin-left: 10px;
}

@media screen and (max-width: 780px) {
  .emp-list {
    /* background-color: #f4f1ec; */
    left: 500px;
    width: 100%;
    margin: 0;
  }
  input::-moz-placeholder {
    width: 100%;
    font-size: 20px;
  }
  input::placeholder {
    width: 100%;
    font-size: 20px;
  }
  .emp-list-area .emp-name ul li {
    display: flex;
  }
}/*# sourceMappingURL=itiran.css.map */