.main {
    // background: linear-gradient(90deg, #cdffd8, #94b9ff);
    background: #F4F1EC;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    .border{
        width: 100%;
        height: 15px;
        background: linear-gradient(90deg, #cdffd8, #94b9ff);
        position: fixed;
    }
}
.loginBox {
    position: relative;
    height: 500px;
    width: 500px;
    &::before{
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background-color: rgba(0, 0, 0, 0.2); 
        background: rgba($color: #fff, $alpha: 0.7);
        z-index: 1; 
    }
    .loginBox-main {
        position: relative;
        z-index: 2;
        color: #000;
    }
    input{
        outline: none;
    }
    .inputArea {
        margin: 0 auto;
        position: relative;
        width: 70%;
        margin-top: 20%;
        font-size: 20px;
    }
    input[type="text"] {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    input[type="password"]{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    .userIdArea,
    .passArea {
        border-bottom: 1px solid #000;
        height: 3em;
        margin-bottom: 10px;
        display: flex;
    }
}

img {
    height: 100%;
    padding-bottom: 2px;
}
.userIdArea img {
    padding-right: 5px;
}
.TextHeader {
    margin-top: 40px;
}
.btnlogin {
    width: 35%;
    border-radius: 20px;
    border: solid 2px #666;
    // background: linear-gradient(90deg, #8c52ff, #5ce1e6);
}
.button {
    text-align: center;
    position: relative;
    bottom: -40px;
}
/* スマホ画面 */
@media only screen and (min-width: 220px) and (max-width: 860px) {
    body {
        background: linear-gradient(90deg, #cdffd8, #94b9ff);
    }
    .main {
        width: 100%;
        display: flex;
        position: fixed;
        height: 100%;
    }
    .loginBox::before {
        width: 100%;
        height: 500px;
    }
}
