@charset "UTF-8";
.register {
  height: 100%;
  padding: 50px 0;
  width: 80%;
  max-width: 600px;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  margin: auto;
}
.register h1 {
  text-align: center;
}
.register ul .close {
  width: 80%;
  margin: 0 10%;
}
.register ul .close .close {
  opacity: 0;
  height: 0;
}
.register ul .close ol {
  padding: 0;
}
.register .register-area ul li {
  font-size: 24px;
  border-bottom: #000 3px solid;
  margin: 10px 0;
}
.register .register-area ul li input[type=text] {
  font-size: 24px;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  color: gold;
  text-transform: capitalize;
}
.register .register-area ul li textarea {
  font-size: 24px;
  width: 100%;
  overflow-y: hidden;
  resize: none;
  max-width: 500px;
  text-transform: capitalize;
}
.register .register-area ul li input[type=checkboc] {
  height: 50px;
  width: 50px;
}
.register .register-area ul li input[type=submit] {
  border-radius: 25px;
  border: none;
  width: 60%;
  margin: 20%;
  padding: 30px;
  font-size: 24px;
}
.register .register-area ul li input[type=""] {
  font-size: 24px;
  width: 100%;
  outline: none;
  background: none;
  border: none;
}
.register .register-area ul li .plus {
  background-color: snow;
  padding: 20px 20px;
  width: 60px;
  cursor: pointer;
  border-radius: 25px;
}
.register .register-area ul li .kinds {
  position: relative;
}
.register .register-area ul li .kinds input[type=text] {
  height: 0%;
  width: 0%;
}
.register .register-area ul li .kinds .kinds-aft input[type=text] {
  height: auto;
  width: 100%;
}

.kinds-selecter {
  position: relative;
  width: 80%;
  margin: auto;
}
.kinds-selecter::after {
  content: "▼";
  position: absolute;
  right: 0;
  transition: all 0.3s;
}
.kinds-selecter::after {
  transition: all 0.3s;
  transform: rotateZ(-180deg);
}

.kind-list {
  position: absolute;
  background-color: #666;
  color: #333;
  height: 0;
  overflow-x: hidden;
  transition: all 0s;
  z-index: 100;
  width: 100%;
  margin: auto;
}

.kind-list-aft {
  transition: all 0.5s;
  height: 150px;
  overflow-x: scroll;
  overflow-x: hidden;
  border: #000 solid 2px;
}
.kind-list-aftli:hover {
  background-color: rgba(252, 252, 252, 0.2117647059);
}
.kind-list-aft ::-webkit-scrollbar {
  width: 3px;
}
.kind-list-aft ::-webkit-scrollbar-track {
  background-color: #ccc;
}
.kind-list-aft ::-webkit-scrollbar-thumb {
  background: #6389fa;
  border-radius: 25px;
}

.passList input[type=text]:valid + span::after {
  position: absolute;
  content: "";
  display: block;
  color: #fff;
  font-size: 24px;
  width: 100%;
}

.passList input[type=text]:invalid + span::after {
  content: "パスワードを入力してください";
  display: block;
  color: #fff;
  font-size: 24px;
  width: 100%;
}

.container {
  z-index: 50;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  display: block;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .service-title-h1-large {
    cursor: auto;
  }
}
.section-lightgray {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.news-radio {
  width: 90%;
  margin: auto;
  padding: 30px;
}

@media screen and (max-width: 780px) {
  .newspage-time {
    text-align: center;
  }
}

.service-title-h1-large {
  color: #333;
  text-align: center;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Noto Sans JP, sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-29 {
  background-color: #fff;
  border: 1px #cacaca;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: visible;
}

.collection-item {
  color: #000;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px 20px;
  font-size: 16px;
  display: flex;
}
.collection-item .news-edit {
  display: grid;
}
.collection-item .news-edit button {
  font-size: 18px;
  margin: 5px;
  padding: 5px 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 0px;
  border-radius: 25px;
  background-color: #fff;
}

.newspage-link {
  word-wrap: break-word;
  max-width: 200px;
  width: 100%;
  color: #333;
  flex: 0 auto;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 19px;
  font-weight: 300;
  text-decoration: none;
}

.btn-text {
  font-size: 18px;
  text-align: center;
}

.newspage-people {
  color: black;
  font-size: 18px;
  text-decoration: none;
  width: 150px;
  word-wrap: break-word;
}
@media screen and (max-width: 780px) {
  .newspage-people {
    text-align: center;
  }
}

.newspage-area {
  display: flex;
}
.newspage-area .newspage-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  color: black;
  background: springgreen;
  font-size: 10px;
  font-weight: 800;
  padding: 5px;
  width: 100px;
}
@media screen and (max-width: 780px) {
  .newspage-area .newspage-info {
    margin-left: 0;
  }
}
.newspage-area .newspage-info.info-radio {
  background-color: #ff7b00;
}
@media screen and (max-width: 780px) {
  .newspage-area {
    display: grid;
  }
}

.Birthday {
  background-color: yellow;
}

.newspage-time {
  font-size: 16px;
  color: #000;
}

.w-dyn-items {
  border-bottom: solid 1px #e7e7e7;
}
.w-dyn-items .link-block-3 {
  padding: 20px;
  display: flex;
}/*# sourceMappingURL=news.css.map */