@charset "UTF-8";
.ContentCenter {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

body {
    background: #f4f1ec;
    transition: all 0.5s;
}

li {
    list-style: none;
}

main {
    display: flex;
    width: 100%;
}
@media screen and (max-width: 780px) {
    main {
        display: block;
    }
}

section {
    width: 80%;
    height: 100%;
}
@media screen and (max-width: 780px) {
    section {
        width: 100%;
    }
}
section h1 {
    font-size: 3em;
    border-bottom: solid 1px #000;
    width: 70%;
    margin: 10px auto;
}
section span {
    position: relative;
    font-size: 24px;
}

.emp-list-area form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    background-color: #f6f6f6;
    border-radius: 25px;
}
.emp-list-area form button {
    background-color: #f6f6f6;
    border: solid 1px #f6f6f6;
    border-radius: 25px;
}
.emp-list-area form button img {
    width: 20px;
}
.emp-list-area form input[type="text"] {
    background-color: #f6f6f6;
    width: 100%;
    font-size: 24px;
    border: solid 0px;
    outline: none;
    border-radius: 50px;
}
.emp-list-area .emp-name ul {
    height: 365px;
    overflow-y: scroll;
}
.emp-list-area .emp-name ul::-webkit-scrollbar {
    width: 5px;
}
.emp-list-area .emp-name ul::-webkit-scrollbar-track {
    background-color: #ccc;
}
.emp-list-area .emp-name ul::-webkit-scrollbar-thumb {
    background: #38b6ff;
    border-radius: 25px;
}
.emp-list-area .emp-name ul li {
    margin: 10px 0;
    text-align: center;
}
.emp-list-area .emp-name ul li span {
    width: 300px;
    display: inline-block;
    line-height: 1.8;
    cursor: pointer;
    margin: 3px;
    margin-left: 45px;
    margin-right: 38px;
}
.emp-list-area .emp-name ul li span::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1px;
    background: #000;
}

#span1 {
    font-size: 29px;
    font-weight: bold;
}

.intell ul {
    margin: 50px auto;
    font-size: 24px;
}
.intell ul li {
    display: flex;
}
.intell ul li span {
    margin: 10px;
    word-wrap: break-word; /* 長い単語を途中で改行する */
    overflow-wrap: break-word; /* 上記のプロパティのエイリアス */
}

.intell ul li span:nth-child(1) {
    width: 150px;
}

@media screen and (max-width: 780px) {
    .intell {
        background-color: #ccc;
        transition: all 1s;
        position: inherit;
        left: 500px;
        opacity: 0;
        width: 80%;
        margin: 150px 10%;
    }
}

@media screen and (max-width: 780px) {
    .intell-aft {
        display: block;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .intell-aft .intell {
        opacity: 1;
        position: absolute;
        width: 80%;
        height: 100vh;
        margin: 150px 10%;
        left: 0;
        top: 0px;
        background: #f4f1ec;
        pointer-events: all;
        transition: all 0.5s;
    }
    .intell-aft .intell::before {
        content: "x";
        position: absolute;
        right: -30px;
        top: -20px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 800;
        pointer-events: all;
        color: aliceblue;
    }
} /*# sourceMappingURL=itiran.css.map */

@media screen and (max-width: 780px) {
    .emp-list {
        /* background-color: #f4f1ec; */
        left: 500px;
        width: 100%;
        margin: 0;
    }

    input::placeholder {
        width: 100%;
        font-size: 20px;
    }

    .emp-list-area .emp-name ul li {
        display: flex;
    }
    .emp-list-area .emp-name ul li span {
        margin-left: 0;
        margin-right: 0;
    }
}
