
html{
    height: 100%;
}
.register{
    height: auto;
    border-radius: 50px;
    color: #333;
}
.register-area{
    @media screen and (max-width:780px) {
        width: 100%;
    }
    width: 70%;
    margin: auto;
    h1{
        text-align:center;
        width: auto;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:780px) {
            font-size: 24px;
        //     display: block;
        //     border-top: solid 3px ;
        //     padding: 10px;
        }
    }
    form{
        width: 80%;
        margin: 10%;
        @media screen and (max-width:780px) {
            width: 90%;
            margin:10% auto;
        }
        .news-resist{
            margin: auto;
            display: flex;
            margin-bottom: 5%;
            justify-content: center;
            span{
                margin: 5px;
                font-size: 18px;
            }
            textarea{
            background: rgba($color: #fff, $alpha: 0.5);
            box-shadow: 1 1 1 1 ,rgba(0,0,0,0.5);
            outline: none;
            border: none;
            font-size: 18px;
            width: 80%;
            overflow-y: hidden;
            resize: none;
            max-width: 500px;
            height: 300px;
            text-transform: capitalize;
            }
        }
        input[type="submit"]{
            transition: all 0.3s;
            font-weight: 900;
            border-radius: 25px;
            color: #000;
            border: solid 2px #000;
            box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.1);
            width: 60%;
            margin: 0 20%;
            padding:  25px;
            font-size: 24px;
            background: none;
            &::before{
                content:"";
                display: block;
                width: 0%;
                
            }
            &:active{
                background: #666;
                color: #F4F1EC;
            }
        }
    }
    .register-areaUL{
        margin: 10px;
        .error{
            display: block;
            width: 90%;
            margin: auto;
            color: red;
        }
        @media screen and (min-width:780px) {
            height: 500px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .close{
            opacity: 0;
            height: 0;
            width: 0;
        }
        ol{
            padding: 0;
        }
        li{
            width: 90%;
            display: grid;
            font-size: 24px;
            border-bottom: #000 3px solid;
            margin: 10px auto;
            input[type ="text"]{
            font-size: 24px;
            width: 100%;
            outline: none;
            background: none;
            border: none;
            }
            input::placeholder{
                color:rgba(255, 215, 0 ,0.8);
            }
            textarea{
                border: none;
                background: none;
                font-size: 24px;
                width: 100%;
                overflow-y: hidden;
                resize: none;
                width: 100%;
                outline: none;
            }
            input[type="checkbox"]{
                height: 50px;
                width: 50px;
            }
        }
        input[type="time"]{
            font-size: 24px;
            width: 100%;
            outline: none;
            background: none;
            border: none;
        }
        input[type= "datetime-local"]{
            width: 100%;
            outline: none;
            background: none;
            border: none;
            font-size: 24px;
        }
        input[type="date"]{
            width: 100%;
            outline: none;
            background: none;
            border: none;
            font-size: 24px;
        }
        .plus-btn{
            .plus{
                display: flex;
                background-color:snow;
                padding: 20px 20px; 
                cursor: pointer;
                border-radius: 25px;
                color: #333;
                border: solid 2px #333;
            }
            ::before{
                content: "";
                display: block;
                transition: all 0.5s;
                height: 0%;
            }
            :hover::before{
                    content: "追加する";
                    height: 100%;
            }
        }
        .kinds{
            input[type="text"]:not(.AccordionSearchInput){
                height: 0%;
                width: 0%;
            }
            position: relative;
            }
            .kinds-aft{
                input[type="text"]{
                    height: auto !important;
                    width: 100% !important;
                }
            }
    }
    }
    .kinds-selecter{
        cursor: pointer;
        position: relative;
        width: 80%;
        margin: auto;
        &::after{
            content: "▼";
            position: absolute;
            right: 0;
            transition: all 0.3s;
        }
    }
    .kinds-selecter-aft{
        &::after{
            transition: all 0.3s;
            transform: rotateZ(-180deg);
        }        
    }
    .kind-list{
        cursor: pointer;
        position: absolute;
        background-color: #fff;
        color: #333;
        height: 0;
        overflow-x: hidden;
        transition: all 0s;
        z-index:100;
        width: 100%;
        li{
            padding: 5px 0;
            width: 100% !important;
            margin: 0px !important;
        }
        .AccordionSearch input[type ="text"]{
            width: 100% ;
            height: auto;
        }
    }
    .kind-list-aft{
        transition: all 0.5s;
        height: 150px;
        overflow-x: scroll;
        overflow-x: hidden;
        border: #000 solid 2px;
        @media screen and (max-width:780px) {
        height: 400px;
        }
        li:hover{
            background-color: rgb(149, 149, 149);
        }
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-track{
            background-color: none;
        }
        &::-webkit-scrollbar-thumb{
            background: #666;
            border-radius: 25px;
        }
    }
    .passList{
        input[type="password"]{
            border: none;
            background: none;
            outline: none;
            font-size: 24px;
        }
        input[type="password"]:valid + span::after{
            position: absolute;
            content: "";
            display: block;
            color: #fff;
            font-size: 24px;
            width: 100%;
        }
        input[type="password"]:invalid + span::after{
            content: "パスワードを入力してください";
            display: block;
            color: #fff;
            font-size: 24px;
            width: 100%;
        }
        input[type="text"]:valid + span::after{
                position: absolute;
                content: "";
                display: block;
                color: #fff;
                font-size: 24px;
                width: 100%;
            }
            input[type="text"]:invalid + span::after{
                content: "パスワードを入力してください";
                display: block;
                color: #fff;
                font-size: 24px;
                width: 100%;
            }

        }
        #NewsHidden{  
            color: red;
            margin: 10px auto;
            font-size: 8px;
            width: 80%;
        }