@charset "UTF-8";
html {
  height: 100%;
}

.register {
  height: auto;
  border-radius: 50px;
  color: #333;
}

.register-area {
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 780px) {
  .register-area {
    width: 100%;
  }
}
.register-area h1 {
  text-align: center;
  width: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .register-area h1 {
    font-size: 24px;
  }
}
.register-area form {
  width: 80%;
  margin: 5% 10%;
}
@media screen and (max-width: 780px) {
  .register-area form {
    width: 90%;
    margin: 10% auto;
  }
}
.register-area form .news-resist {
  margin: auto;
  display: flex;
  margin-bottom: 5%;
  justify-content: center;
}
.register-area form .news-resist span {
  margin: 5px;
  font-size: 18px;
}
.register-area form .news-resist textarea {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1 1 1 1, rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  font-size: 18px;
  width: 80%;
  overflow-y: hidden;
  resize: none;
  max-width: 500px;
  height: 300px;
  text-transform: capitalize;
}
.register-area form input[type=submit] {
  transition: all 0.3s;
  font-weight: 900;
  border-radius: 25px;
  color: #000;
  border: solid 2px #000;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 20%;
  padding: 25px;
  font-size: 24px;
  background: none;
}
.register-area form input[type=submit]::before {
  content: "";
  display: block;
  width: 0%;
}
.register-area form input[type=submit]:active {
  background: #666;
  color: #F4F1EC;
}
.register-area .register-areaUL {
  margin: 10px;
}
.register-area .register-areaUL .error {
  display: block;
  width: 90%;
  margin: auto;
  color: red;
}
@media screen and (min-width: 780px) {
  .register-area .register-areaUL {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.register-area .register-areaUL .close {
  opacity: 0;
  height: 0;
  width: 0;
}
.register-area .register-areaUL ol {
  padding: 0;
}
.register-area .register-areaUL li {
  width: 90%;
  display: grid;
  font-size: 24px;
  border-bottom: #000 3px solid;
  margin: 10px auto;
}
.register-area .register-areaUL li input[type=text] {
  font-size: 24px;
  width: 100%;
  outline: none;
  background: none;
  border: none;
}
.register-area .register-areaUL li input::-moz-placeholder {
  color: rgba(255, 215, 0, 0.8);
}
.register-area .register-areaUL li input::placeholder {
  color: rgba(255, 215, 0, 0.8);
}
.register-area .register-areaUL li textarea {
  border: none;
  background: none;
  font-size: 24px;
  width: 100%;
  overflow-y: hidden;
  resize: none;
  width: 100%;
  outline: none;
}
.register-area .register-areaUL li input[type=checkbox] {
  height: 50px;
  width: 50px;
}
.register-area .register-areaUL input[type=time] {
  font-size: 24px;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  position: relative;
}
.register-area .register-areaUL input[type=time]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.register-area .register-areaUL input[type=number] {
  font-size: 24px;
  width: 100%;
  outline: none;
  background: none;
  border: none;
}
.register-area .register-areaUL input[type=datetime-local] {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  font-size: 24px;
}
.register-area .register-areaUL input[type=date] {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  font-size: 24px;
  position: relative;
}
.register-area .register-areaUL input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.register-area .register-areaUL .plus-btn .plus {
  display: flex;
  background: content-box;
  padding: 5px 20px;
  font-weight: 800;
  width: 60%;
  margin: auto;
  justify-content: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  border: 0px;
  cursor: pointer;
  border-radius: 25px;
  color: #333;
  border: solid 1px;
}
.register-area .register-areaUL .kinds {
  position: relative;
}
.register-area .register-areaUL .kinds input[type=text]:not(.AccordionSearchInput) {
  height: 0%;
  width: 0%;
}
.register-area .register-areaUL .kinds-aft input[type=text] {
  height: auto !important;
  width: 100% !important;
}

.kinds-selecter {
  cursor: pointer;
  position: relative;
  width: 80%;
  margin: auto;
}
.kinds-selecter::after {
  content: "▼";
  position: absolute;
  right: 0;
  transition: all 0.3s;
}

.kinds-selecter-aft::after {
  transition: all 0.3s;
  transform: rotateZ(-180deg);
}

.kind-list {
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  color: #333;
  height: 0;
  overflow-x: hidden;
  transition: all 0s;
  z-index: 100;
  width: 100%;
}
.kind-list li {
  padding: 5px 0;
  width: 100% !important;
  margin: 0px !important;
}
.kind-list .AccordionSearch input[type=text] {
  width: 100%;
  height: auto;
}

.kind-list-aft {
  transition: all 0.5s;
  height: 150px;
  overflow-x: scroll;
  overflow-x: hidden;
  border: #000 solid 2px;
}
@media screen and (max-width: 780px) {
  .kind-list-aft {
    height: 400px;
  }
}
.kind-list-aft li:hover {
  background-color: rgb(149, 149, 149);
}
.kind-list-aft::-webkit-scrollbar {
  width: 5px;
}
.kind-list-aft::-webkit-scrollbar-track {
  background-color: none;
}
.kind-list-aft::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 25px;
}

.passList input[type=password] {
  border: none;
  background: none;
  outline: none;
  font-size: 24px;
}
.passList input[type=password]:valid + span::after {
  position: absolute;
  content: "";
  display: block;
  color: #fff;
  font-size: 24px;
  width: 100%;
}
.passList input[type=password]:invalid + span::after {
  content: "パスワードを入力してください";
  display: block;
  color: #fff;
  font-size: 24px;
  width: 100%;
}
.passList input[type=text]:valid + span::after {
  position: absolute;
  content: "";
  display: block;
  color: #fff;
  font-size: 24px;
  width: 100%;
}
.passList input[type=text]:invalid + span::after {
  content: "パスワードを入力してください";
  display: block;
  color: #fff;
  font-size: 24px;
  width: 100%;
}

#NewsHidden {
  color: red;
  margin: 10px auto;
  font-size: 8px;
  width: 80%;
}/*# sourceMappingURL=register.css.map */